$link: #FF4F00

h2
  font-family: "TypeRegular"


a
  font-family: "TypeRegular"
  color: white
  &:hover
    color: $link

  &.button
    color: black
    width: 240px
    font-size: rem-calc(20)
    &:hover
      background: $link


.button
  background: #f4f4f4
  font-family: "TypeRegular"

section
  height: 100%
  width: 100%

#welcome

  background: image-url('welcome.jpg') no-repeat center center
  +background-size(cover)

  .social
    position: absolute
    right: 5%
    top: 5%

  h1
    background: image-url('logo.png') no-repeat center center
    text-indent: -9999px
    overflow: hidden
    margin-bottom: 40px
    +background-size(70%)
    @media (max-width: 40em)
      +background-size(40%)
    @media (min-width: 40.063em) and (max-width: 64em)
      +background-size(40%)

  .listen
    .small-centered
      text-align: center

  ul
    a
      font-size: rem-calc(20)
      color: white
      &:hover
        color: $link

      &.baixar
        float: right

      &.ouvir
        float: left


#album
  background: image-url('album.jpg') fixed center center
  +background-size(cover)

  .cover
    background-image: image-url('cover.png')
    width: 690px
    height: 333px
    display: block
    margin: 0 auto
    @media (max-width: 40em)
      width: 100%

  .options
    background-color: #242424
    width: 326px
    height: 333px
    color: white
    text-align: center
    overflow: hidden
    padding: 70px 0
    @media (max-width: 40em)
      max-width: 290px
      min-width: 290px
      width: 100%


    ul
      width: 250px
      margin: 0 auto

    .button
      margin: 0 0 5px 0

    p
      display: block
      clear: both
      font-size: rem-calc(12)

#band
  background: image-url('band.jpg') fixed center center
  +background-size(cover)
  color: white

  .stream
    font-family: "Dosis"
    text-align: center

    p
      margin-top: 10px
      font-size: rem-calc(20)
    a
      font-family: "Dosis"
      &:hover
        color: $link

#schedule
  background: image-url('agenda.jpg') fixed center center
  +background-size(cover)
  text-align: center

  table
    width: 100%
    border-top: 1px solid black
    border-bottom: 1px solid black
    font-family: "Dosis"

    td
      font-size: rem-calc(18)

    .day
      padding-left: 30px
      text-align: left
    .city
      padding-right: 30px
      text-align: right

#contact
  text-align: center
  font-family: "Dosis"

  .form

    .typewriter
      border-top: 1px solid black
      border-bottom: 1px solid black
      padding: 20px 0

    .contact
      font-family: "Dosis"
      padding: 25px 0

      img
        margin-bottom: 10px

      p
        margin: 0
        font-size: rem-calc(20)

        &.tel
          font-size: rem-calc(20)

      a
        color: black
        font-size: rem-calc(16)
        font-family: "Dosis"

    form
      +transition()
      position: relative
      padding-top: 20px
      text-align: left

      &.success
        opacity: 0
        filter: alpha(opacity=00)

      input, textarea
        font-size: rem-calc(20)

      textarea
        height: 150px

      a.button
        width: auto
        font-family: "Dosis"
        border: 1px solid #CCC

      .success-msg
        opacity: 0
        position: absolute
        text-align: center
        top: 8em
        left: 0
        right: 0
        +transition()

      .success &
        opacity: 1
        filter: alpha(opacity=100)

      strong
        display: block
        font-size: rem-calc(22)

      a
        text-decoration: underline

    fieldset
      border: 0 none
      margin: 0
      padding: 0

      legend
        display: none

  h4
    background: image-url('logo-footer.png') no-repeat center center
    text-indent: -9999px
    overflow: hidden
    margin-bottom: 40px
    margin-top: 20px
    @media (max-width: 40em)
      +background-size(30%)
    @media (min-width: 40.063em) and (max-width: 64em)
      +background-size(30%)
