#album
  .cover
    background-image: url('../images/cover.png')
    width: 690px
    height: 333px
    display: block
    margin: 0 auto

  .download
    background-color: #242424
    width: 326px
    height: 333px
    color: white
    text-align: center
    overflow: hidden
    padding: 70px

    .button
      margin: 0

    p
      display: block
      clear: both
      font-size: rem-calc(12)
